@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Transaction Upload</h1>
    <form enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
    <script>
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    type: 'POST',
                    url: '/api/Transaction/upload',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
</div>